##
## MPAC Maven Plugin
## Copyright (C) 2013 Marvelution
## info@marvelution.com
##
## Licensed under the Apache License, Version 2.0 (the "License");
## you may not use this file except in compliance with the License.
## You may obtain a copy of the License at
##
##    http://www.apache.org/licenses/LICENSE-2.0
##
## Unless required by applicable law or agreed to in writing, software
## distributed under the License is distributed on an "AS IS" BASIS,
## WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
## See the License for the specific language governing permissions and
## limitations under the License.
##
#* @vtlvariable name="link" type="com.atlassian.marketplace.client.model.Links.Link" *#
#* @vtlvariable name="notes" type="java.util.Map" *#
#foreach($note in $notes.entrySet())
<b><p>$note.key</p></b><br>
<div>$note.value</div><br><br>
#end
#if($link)
<b><p>Full release notes</p></b><br>
<div>Full release notes are available <a href="$link.href" target="_blank">here</a>.</div><br><br>
#end
